<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" />
    <title>About</title>
</head>
<body>
   
    
    <ul class="ul">
        <li><a href="/home">Home</a></li>
        <li><a href="/works">works</a></li>
        <li><a href="/gallery">Photo gallery</a></li>
    </ul>
    
    <h1>Lionel Messi</h1>
    
    <ul class="about-messi">
        <li>Full name:  Lionel Andrés Messi[1]</li>
        <li>Date of birth:  24 June 1987 (age 35)[</li>
        <li>Place of birth:  Rosario, Santa Fe, Argentina</li>
        <li>Height:  1.70 m (5 ft 7 in)[3]</li>
        <li>Position(s):  Forward</li>
    </ul>


    <p>Lionel Andrés Messi Cuccittini (Rosário, 24th june 1987) is a football player from Argentina. He plays for Argentina's national team and for Paris Saint Germain.</p>
    
    <p>Messi is considered one of the best playeres of all times </p>
    
    <p>He has a 7 Ballon D'or reccord, four of them in a row. </p>
    


    
    
</body>
</html>