<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Photo gallerys</title>
</head>
<body>
    <ul class="ul">
        <li><a href="/about">About</a></li>
        <li><a href="/works">works</a></li>
        <li><a href="/home">Home</a></li>
    </ul>
    
    <h1 class="photoh1">Messi photo gallery</h1>
<div class="images">
<img src="/images/messi shirt.jpeg" alt="shirt">
<img src="/images/messi-copa-png.jpeg" alt="copa america">
<img src="/images/messi-champions.jpeg" alt="champions">
</div>
<img class="ballonDor" src="/images/ballondor.jpeg" alt="ballon d'or">

  

</body>
</html>