<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Works</title>
</head>
<body>
    <ul class="ul">
        <li><a href="/about">About</a></li>
        <li><a href="/home">home</a></li>
        <li><a href="/gallery">Photo gallery</a></li>
    </ul>
    
    <h1>Trophies</h1>

    
    <p class="resume">  Messi played almost the whole carrer playing for FC Barcelona (more than 20 years) but then he was forced to leave the club due to FC Barcelona financial problems. Barcelona coouldn't afford his sallary and he had no other choice. He moved to Paris Saint Germain.</p>
    
    <p> Messi also plays for his national team, where he won Copa America and got to the world cup final, back in 2014. </p>
    
    
    <h3> Personal achievments</h3>
    
    <ul class ="trophies">
        
        <li>7X WINNER BALLON D'OR</li>
        <li>2X THE BEST FIFA MEN'S PLAYER</li>
        <li>3X UEFA BEST PLAYER IN EUROPE</li>
        <li>22X TOP SCORER</li>
        <li>4X TM-PLAYER OF THE SEASON</li>
        <li>10X PLAYER OF THE YEAR</li>
    </ul>
    
    <h3> collective trophies</h3>
    
    <ul class="trophies">   
        
        <li>3X FIFA CLUB WORLD CUP WINNER</li>    
        <li>1X COPA AMÉRICA WINNER</li>
        <li>4X CHAMPIONS LEAGUE WINNER</li>
        <li>10X SPANISH CHAMPION</li>
        <li>1X FRENCH CHAMPION</li>
        <li>3X UEFA SUPERCUP WINNER</li>
        <li>7X SPANISH CUP WINNER</li>
        <li>8X SPANISH SUPER CUP WINNER</li>
        <li>1X UNDER-20 WORLD CUP CHAMPION</li>
        <li>1X CONMEBOL-UEFA CUP OF CHAMPIONS WINNER</li>
        <li>1X FRENCH SUPER CUP WINNER</li>
        <li>1X OLYMPIC MEDALIST</li>
    </ul>
    

</body>
</html>